/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.flex{
  display:flex;
}

.box-image{
   display:flex;
   &-text{
     margin:auto;
   }
}

.profile_box{
    padding: 5px 1em;
    margin: 1em auto;
    color: #00BCD4;
    background: #e4fcff;
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.search_image{
    margin: 10px;
}

.recipe_detail_image{
    margin: 2em 0;
}

.detail_heading{
    font-size: 1.2em;
    background: #5fb3f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.detail_text{
  background: #dcefff;
  overflow-wrap: break-word;

}

.food_box{
    padding: 0.5em 1em;
    margin: auto;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px #4ec4d3;
    border-right: double 7px #4ec4d3;
    overflow-wrap: normal;
}

.food_box td{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.head_text{
  font-family: 'Lobster', cursive;
}

.myprofile_box{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

.profile_edit{
    margin-left: 25px;
    margin-right: auto;
}

.profile_edit2{
    margin-left: 50px;
    margin-right: auto;
}

.main-kv{
    background-image: image-url("top_image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
    height: calc(100vh - 62px - 70px);

}

footer {
    height: 70px;
}

.bg-white-50 {
    background-color: rgba(255, 255, 255, .5);
}

.profile_text{
    margin-left: auto;
    margin-right: auto;
}
